img, p, form {
	padding-bottom: 1em;
}

.big {
	font-size: larger;
}

.purple {
	color: rebeccapurple;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

/* fix for bootstrap form-horizontal */
.form-horizontal .form-group {
    width:100%;
}