<!DOCTYPE html>
<html lang="en" ng-app="MoviesApp">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Movie Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
	<!-- load our script -->
	<script src="js/movies.js"></script>
</head>

<body class="container" ng-controller="MoviesCtrl">

	<h1>Movie Data Browser</h1>
	<p class="lead">Movies released during 2015</p>
	<p class="lead">Testing message is: {{message}}</p>

	<form role="form" class="form-inline">
		<button type="button"><i class="fa fa-search" aria-label="Search"></i></button>
		<input type="text" name="search" id="searchTerm" placeholder="Enter a search term..." ng-model="searchTerm">
	</form>

	<table class="table">
		<tr>
			<th ng-click="sortBy('title')">Title</th>
			<th ng-click="sortBy('released')">Release Date</th>
			<th>Genre</th>
			<th ng-click="sortBy('gross')">Earnings</th>
			<th>Distributor</th>
		</tr>
		<!--		<tr>
			<td>{{movies[0].title}}</td>
			<td>{{movies[0].released}}</td>
			<td>{{movies[0].genre}}</td>
			<td>{{movies[0].gross}}</td>
			<td>{{movies[0].distributor}}</td>
		</tr>
-->
		<tr ng-repeat="currentMovie in movies | orderBy:ordering | filter: searchTerm">
			<!-- '-gross' = ordering -->
			<td>{{currentMovie.title}}</td>
			<td>{{currentMovie.released}}</td>
			<td>{{currentMovie.genre}}</td>
			<td>{{currentMovie.gross | currency : '$' :0}}</td>
			<td>{{currentMovie.distributor}}</td>
		</tr>
	</table>

</body>

</html>